/* LXGW Bright Webfont */

@font-face {
  font-family: 'LXGW Bright';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/LXGWBright-Regular.0.woff2') format('woff2'),
       url('./fonts/LXGWBright-Regular.0.woff') format('woff');
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: 'LXGW Bright';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/LXGWBright-Regular.1.woff2') format('woff2'),
       url('./fonts/LXGWBright-Regular.1.woff') format('woff');
  unicode-range: U+3000-303F;
}

@font-face {
  font-family: 'LXGW Bright';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/LXGWBright-Regular.2.woff2') format('woff2'),
       url('./fonts/LXGWBright-Regular.2.woff') format('woff');
  unicode-range: U+4E00-9FFF;
}

@font-face {
  font-family: 'LXGW Bright';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./fonts/LXGWBright-Light.0.woff2') format('woff2'),
       url('./fonts/LXGWBright-Light.0.woff') format('woff');
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: 'LXGW Bright';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./fonts/LXGWBright-Light.1.woff2') format('woff2'),
       url('./fonts/LXGWBright-Light.1.woff') format('woff');
  unicode-range: U+3000-303F;
}

@font-face {
  font-family: 'LXGW Bright';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('./fonts/LXGWBright-Light.2.woff2') format('woff2'),
       url('./fonts/LXGWBright-Light.2.woff') format('woff');
  unicode-range: U+4E00-9FFF;
}

@font-face {
  font-family: 'LXGW Bright';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/LXGWBright-Medium.0.woff2') format('woff2'),
       url('./fonts/LXGWBright-Medium.0.woff') format('woff');
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: 'LXGW Bright';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/LXGWBright-Medium.1.woff2') format('woff2'),
       url('./fonts/LXGWBright-Medium.1.woff') format('woff');
  unicode-range: U+3000-303F;
}

@font-face {
  font-family: 'LXGW Bright';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/LXGWBright-Medium.2.woff2') format('woff2'),
       url('./fonts/LXGWBright-Medium.2.woff') format('woff');
  unicode-range: U+4E00-9FFF;
}

@font-face {
  font-family: 'LXGW Bright';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/LXGWBright-Italic.0.woff2') format('woff2'),
       url('./fonts/LXGWBright-Italic.0.woff') format('woff');
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: 'LXGW Bright';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/LXGWBright-Italic.1.woff2') format('woff2'),
       url('./fonts/LXGWBright-Italic.1.woff') format('woff');
  unicode-range: U+3000-303F;
}

@font-face {
  font-family: 'LXGW Bright';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/LXGWBright-Italic.2.woff2') format('woff2'),
       url('./fonts/LXGWBright-Italic.2.woff') format('woff');
  unicode-range: U+4E00-9FFF;
}

@font-face {
  font-family: 'LXGW Bright';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('./fonts/LXGWBright-LightItalic.0.woff2') format('woff2'),
       url('./fonts/LXGWBright-LightItalic.0.woff') format('woff');
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: 'LXGW Bright';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('./fonts/LXGWBright-LightItalic.1.woff2') format('woff2'),
       url('./fonts/LXGWBright-LightItalic.1.woff') format('woff');
  unicode-range: U+3000-303F;
}

@font-face {
  font-family: 'LXGW Bright';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url('./fonts/LXGWBright-LightItalic.2.woff2') format('woff2'),
       url('./fonts/LXGWBright-LightItalic.2.woff') format('woff');
  unicode-range: U+4E00-9FFF;
}

@font-face {
  font-family: 'LXGW Bright';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/LXGWBright-MediumItalic.0.woff2') format('woff2'),
       url('./fonts/LXGWBright-MediumItalic.0.woff') format('woff');
  unicode-range: U+0000-00FF;
}

@font-face {
  font-family: 'LXGW Bright';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/LXGWBright-MediumItalic.1.woff2') format('woff2'),
       url('./fonts/LXGWBright-MediumItalic.1.woff') format('woff');
  unicode-range: U+3000-303F;
}

@font-face {
  font-family: 'LXGW Bright';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url('./fonts/LXGWBright-MediumItalic.2.woff2') format('woff2'),
       url('./fonts/LXGWBright-MediumItalic.2.woff') format('woff');
  unicode-range: U+4E00-9FFF;
}

